body{
    background-color: #f7f7f7;
    color: #333;
}
#tracerBox{
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: gray;
    padding: 20px;
    font-size: 20px;
    z-index: -999;
}
.controllers{
    float: right;
    max-width: 300px;
}
.controllers .item{
    margin: 5px 0px;
}
#textEditor{
    width: 98%;
    min-height: 80px;
}
.btn {
    font-size: 0px;
    display: inline-block;
    border: none;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-color: purple;
}
.white{
    background-color: white;
    color: black;
}
.green{
    background-color: green;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
.yellow{
    background-color: yellow;
    color: black;
}
.gray{
    background-color: gray;
    color: black;
}